<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyuanbang.lostandfound.dao.LostInfoDao">
    <cache type="com.xiaoyuanbang.common.mybatiscache.RedisCache"/>
    <resultMap type="com.xiaoyuanbang.lostandfound.domain.LostInfo" id="LostInfo">
        <id property="lostid"  column="id" />
        <result  property="name" column="name" />
        <result property="description" column="description"/>
        <result property="school" column="school"/>
        <result property="type" column="type"/>
        <result property="holder_id" column="holder_id"/>
        <result property="urls" column="url"/>
    </resultMap>
    <insert id="addRecord" useGeneratedKeys="true" keyColumn="id">
        insert into lost_info(name, description, school, type, holder_id, url)
        values (#{name},#{description},#{school},#{type},#{holder_id},#{urls})
    </insert>
    <update id="setRecordFinish">
        update lost_info set state=#{param2} where id=#{param1}
    </update>
    <select id="getLostInfo" resultMap="LostInfo">
        select * from lost_info where school=#{param1}  and state=#{state}
    </select>
    <select id="getRecordDetail" resultMap="LostInfo">
        select * from lost_info where id=#{id}
    </select>
    <select id="Search" resultMap="LostInfo">
        select * from  lost_info where match(name,description) against ('+${s1} >${s2} >${s3} >${s4} >${s5}'in boolean mode) and school=#{school} and state=#{state};
    </select>
    <select id="getLostInfoAsOwner" resultMap="LostInfo">
        select * from  lost_info where holder_id=#{id}
    </select>
    <select id="getHolderById" resultType="java.lang.Integer">
        select holder_id from lost_info where id=#{id}
    </select>

</mapper>