<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyuanbang.order.dao.OrderDao">
    <cache type="com.xiaoyuanbang.common.mybatiscache.RedisCache"/>
    <resultMap type="com.xiaoyuanbang.order.domain.RequestInfo" id="RequestInfo">
        <id property="reqid"  column="reqid" />
        <result  property="name" column="name" />
        <result property="description" column="description"/>
        <result property="price" column="price"/>
        <result property="school" column="school"/>
        <result property="type" column="type"/>
        <result property="fintime" column="fintime"/>
        <result property="holder_id" column="holder_id"/>
        <result property="worker_id" column="worker_id"/>
        <result property="formId" column="form_id"/>
    </resultMap>
    <insert id="createRequest">
        insert into request(name, description, type, price, fintime, school, holder_id,form_id)values (#{name},#{description},#{type},#{price},#{fintime},#{school},#{holder_id},#{form_id})
    </insert>
    <update id="setRequestConfirm">
        update request set state= #{stateAfter} ,worker_id= #{userid} where reqid=#{reqid} and state=#{stateNow}
    </update>
    <update id="setRequestState">
        update request set state =#{stateAfter} where reqid=#{reqid} and state=#{stateNow}
    </update>

    <select id="getRequestList" parameterType="String" resultMap="RequestInfo">
        select reqid, name, type, price, fintime, state, school from request where school=#{school} and state=#{state} order by reqid DESC
    </select>

    <select id="getRequestListByType"  resultMap="RequestInfo">
        select reqid, name, type, price, fintime, state, school from request where school=#{school} and state=#{state} and type=#{type} order by reqid DESC
    </select>

    <select id="getRequest" parameterType="int" resultMap="RequestInfo">
        select * from request where reqid=#{reqid}
    </select>
    <select id="getRequestAsHolder" parameterType="int" resultMap="RequestInfo">
        select * from request where holder_id=#{userid} order by reqid DESC
    </select>
    <select id="getRequestAsWorker" parameterType="int" resultMap="RequestInfo">
        select * from request where worker_id=#{userid} order by reqid DESC
    </select>
    <select id="getHolderId" parameterType="int" resultType="int">
        select holder_id from request where reqid=#{reqid}
    </select>
    <select id="getType" resultType="java.lang.String">
        select type from request where reqid=#{reqid}
    </select>
    <select id="Search" resultMap="RequestInfo">
        select * from  request where match(name,description) against ('+${s1} >${s2} >${s3} >${s4} >${s5}' in boolean mode) and school=#{school} and state=#{state} order by reqid DESC;
    </select>
    <select id="getFormId" parameterType="int" resultType="java.lang.String">
        select form_id from request where reqid =#{reqid}
    </select>

</mapper>